/* FONTS */
/* Use Kreon (title and navigation) and Amble (content) 
Note : to avoid browser mixup :
> with Kreon use font-weight property
> with Amble use font-family property
*/

@font-face {
    font-family: 'Amble';
    src: url('../fonts/Amble-Regular-webfont.eot');
    src: url('../fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Amble-Regular-webfont.woff') format('woff'),
         url('../fonts/Amble-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AmbleItalic';
    src: url('Amble-Italic-webfont.eot');
    src: url('Amble-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Amble-Italic-webfont.woff') format('woff'),
         url('Amble-Italic-webfont.ttf') format('truetype'),
         url('Amble-Italic-webfont.svg#ambleitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AmbleBold';
    src: url('../fonts/Amble-Bold-webfont.eot');
    src: url('../fonts/Amble-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Amble-Bold-webfont.woff') format('woff'),
         url('../fonts/Amble-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Amble-Bold-webfont.svg#amblebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Amble variations that are not in use in the theme
/*

@font-face {
    font-family: 'AmbleLight';
    src: url('../fonts/Amble-Light-webfont.eot');
    src: url('../fonts/Amble-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Amble-Light-webfont.woff') format('woff'),
         url('../fonts/Amble-Light-webfont.ttf') format('truetype'),
         url('../fonts/Amble-Light-webfont.svg#amblelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amblebold_italic';
    src: url('Amble-BoldItalic-webfont.eot');
    src: url('Amble-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Amble-BoldItalic-webfont.woff') format('woff'),
         url('Amble-BoldItalic-webfont.ttf') format('truetype'),
         url('Amble-BoldItalic-webfont.svg#amblebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amblelight_italic';
    src: url('Amble-LightItalic-webfont.eot');
    src: url('Amble-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Amble-LightItalic-webfont.woff') format('woff'),
         url('Amble-LightItalic-webfont.ttf') format('truetype'),
         url('Amble-LightItalic-webfont.svg#amblelight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

/* To load from Google */
//@import url(https://fonts.googleapis.com/css?family=Kreon:400,300,700);

/* To load locally */

@font-face {
    font-family: 'Kreon';
    src: url('../fonts/kreon-bold-webfont.eot');
    src: url('../fonts/kreon-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kreon-bold-webfont.woff') format('woff'),
         url('../fonts/kreon-bold-webfont.ttf') format('truetype'),
         url('../fonts/kreon-bold-webfont.svg#kreonbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Kreon';
    src: url('../fonts/kreon-light-webfont.eot');
    src: url('../fonts/kreon-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kreon-light-webfont.woff') format('woff'),
         url('../fonts/kreon-light-webfont.ttf') format('truetype'),
         url('../fonts/kreon-light-webfont.svg#kreonlight') format('svg');
    font-weight: 300;
    font-style: normal;

}


@font-face {
    font-family: 'Kreon';
    src: url('../fonts/kreon-regular-webfont.eot');
    src: url('../fonts/kreon-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kreon-regular-webfont.woff') format('woff'),
         url('../fonts/kreon-regular-webfont.ttf') format('truetype'),
         url('../fonts/kreon-regular-webfont.svg#kreonregular') format('svg');
    font-weight: 400;
    font-style: normal;

}