strong {
    font-family: 'AmbleBold';
    font-weight: 700;
}

h1, h2 {
  text-transform: uppercase;
  margin-top: 2rem;
}

h1 {
  font-size: 30px;
  color: $c-gray-7;
}

h2 {
  font-size: 22px;
}
/* h1 {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: $c-gray-7;
}

h2 {
    font-size: 18px;
    line-height: 22px;
    color: $c-gray-6;
    font-weight: 700;
} */


li {
  list-style-image: url('../images/chevron.png');
}
