/* Colors */

$gray-lighter:          #e8e8e8;
$gray-lightest:         #f5f5f5;
$c-blue:                #1082a8;
$c-orange:              #e87151;
$c-gray-9:              #999999;
$c-gray-d:              #d7d7d7;
$c-gray-7:              #707070;
$c-gray-6:              #666666;

$brand-primary:         $c-blue;

$global-width: rem-calc(1000);

$body-background: $gray-lightest;

$body-font-family: 'Amble',Helvetica, sans-serif;;
$header-font-family: 'Kreon', serif;
$anchor-color: $c-blue;
$anchor-text-decoration: underline;

$topbar-padding: 0;
$topbar-background: transparent;
$topbar-submenu-background: transparent;
$topbar-link-color: black;
$topbar-input-width: 200px;
$topbar-unstack-breakpoint: medium;
