#page-full-width {
  @include grid-row();
  margin-top: 3rem;

  .main-content {

  	background-color: white;
  	border: 2px dashed $gray-lightest;
	padding: 40px;
	border-radius: 10px;


    @include breakpoint(small) {
      @include grid-column(12);
    }

  }

}
