#page {
  @include grid-row();
  margin-top: 1rem;

	background-color: white;
  border: 2px dashed $gray-lightest;
	border-radius: 10px;

	@include breakpoint(small) {
	  padding: 20px 40px 40px;
	}

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }
  }

}
