
@include breakpoint(medium) {
  .col-left {
    p, h3 {
      text-align: right;
    }
  }
  .col-right p {
    text-align: left;
  }
  h3.spacing {
    margin-top: $global-lineheight * 3;
  }
}
.schema {
  text-align: center;
  @include breakpoint(medium) {
    padding-top: 300px;
    padding-left: 15px;
    padding-right: 15px;
    img {
      max-width: 100%;
    }
  }
  @include breakpoint(large) {
    padding-top: 140px;
  }
}
