.thumbnails {
  list-style: none;
  img {
    margin-bottom: 5px;
  }
  a {
    display: block;
    &:hover {
      background-color: $gray-lightest;
      margin: -8px -8px 0 -8px;
      padding: 8px 8px 0 8px;
    }
  }
  > li {
    list-style: none;
    margin-bottom: 40px;
    text-align: center;
  }
}

figcaption {
  font-style: italic;
  font-family: $header-font-family;
  &::before {
    content: url('../images/chevron.png');
    margin-right: 0.5em;
  }
}
