
.menu .active > a {
    background: transparent;
}

.menu .menu-item {
	padding: 1rem 0;
	a{
	  padding: 0rem 3rem;
		border-right : 1px solid black;
	}
}

.menu .menu-item:last-child {
	a {
		border-right : 0;
		padding-right: 0;
	}
}
