/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

/* Mobile menu */

.off-canvas {
 > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

/* Tablet and desktop menu */
.content-bar,
.top-bar {
  @include grid-row();

}

// Portail nav on top
.top-bar {
  text-transform: uppercase;
  font-family: $header-font-family;
  .menu {
    .menu-item {
      padding: 0 5px;
      > a {
        border-right: none;
      	text-indent: -9999px;
        font: 0/0 a;
        padding: 0;
      	width : 95px;
      	height : 32px;
      }
      &.nav-portail > a {
        background: url('../images/commons-menu/lien_portail_active.png') no-repeat left top;
        &:hover {
          background-image: url('../images/commons-menu/lien_portail_active.png');
        }
      }
      &.nav-assemblees > a {
        background: url('../images/commons-menu/lien_assemblee.png') no-repeat left top;
      	width : 140px;
        &:hover {
          background-image: url('../images/commons-menu/lien_assemblee_active.png');
        }
      }
      &.nav-chambres > a {
        background: url('../images/commons-menu/lien_chambre.png') no-repeat left top;
      	width : 140px;
        &:hover {
          background-image: url('../images/commons-menu/lien_chambre_active.png');
        }
      }
      &.nav-agenda > a {
        background: url('../images/commons-menu/lien_agenda.png') no-repeat left top;
      	width : 140px;
        &:hover {
          background-image: url('../images/commons-menu/lien_agenda_active.png');
        }
      }
    }
  }
}

/* Main nav */
.content-bar {
  border-top: 2px dashed $light-gray;
  border-bottom: 2px dashed $light-gray;
  text-transform: uppercase;
  font-family: $header-font-family;
  margin-top: 40px;
  margin-bottom: 50px;
  .menu {
    float: right;
  }
  .menu .menu-item {
    padding: 0;
    a {
      padding: 15px;
      color: $darker-gray;
      border-right: none;
      font-size: 18px;
      text-decoration: none;
      &:hover  {
        color: $menu-item-color-active;
        background-color: $menu-item-background-active;
      }
      &::after {
        content: " »";
      }
    }
    &.current-menu-item a {
      color: $menu-item-color-active;
    }
  }
}
